<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ExcellenceApp"
        android:allowBackup="true"
        android:label="ExcellencePlatform"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.Light">

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="androidx.work.impl.background.systemjob.SystemJobService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            tools:node="merge"
            tools:replace="android:exported" />

    </application>

</manifest>
